{% load static %}

<title>Email Sent</title>

<body style="background-color: black;">
    <div class="page-wrapper" style="height: 100%">
        <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;height: 100%;">
            <img class="img-fluid bg-center" style="max-width: 40%;max-height: 40%;" src="{% static 'assets/images/email/email_sent.png' %}">
            <h1 style="font-weight: 600;color: #FBDF36;font-family:sans-serif;margin: 0px;margin-top: 20px;">Email Sent!</h1>
            <p style="color: rgb(212, 212, 212);font-family:sans-serif;margin: 0px;margin-top: 5px;font-size: 18px;">We've sent you an email with the passsword reset link! Check your inbox and click on reset link.</p>                         
        </div>
    </div>
</body>




